$gradient: linear-gradient(135deg, #963488 0%, #FC6F32 50%, #FF4A59 100%);
$transparent-gradient: linear-gradient(135deg, rgba(150, 52, 136, 0.2) 0%, rgba(252, 111, 50, 0.2) 50%, rgba(255, 74, 89, 0.2) 100%);
$heading-gradient: linear-gradient(135deg, #FFD6F9 0%, #FFCBB4 50%, #FFBEC3 100%);
$white: #FFFFFF;
//Had to change the color because the planet is not actually a png
$black: #000000;
$semi-bold-weight: 600;
$medium-weight: 500;
$normal-weight: 400;
