.container {
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: -1;
  transform: translateZ(-500px);
}

.planet {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
  transform: none;
}

.orangeBlob {
  position: absolute;
  bottom: 0;
  left: 0;
  filter: blur(60px);
}

.blueBlob {
  position: absolute;
  left: 633.23px;
  top: -66.62px;
  filter: blur(60px);
  opacity: 0.9;
}
